{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add a beer</h1>

    {{ form_start(form) }}

    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
            <div class="form-group">
                {{ form_label(form.brewery) }}
                <div class="d-flex">
                    <div class="flex-grow-1">
                        {{ form_widget(form.brewery) }}
                    </div>
                    <a href="#"
                       id="breweryQuickAddLink"
                       class="btn btn-outline-secondary"
                       data-toggle="modal"
                       data-target="#breweryModal"
                       data-select="#add_beer_form_brewery"
                    >
                        Add a brewery
                    </a>
                </div>
                {{ form_errors(form.brewery) }}
            </div>
            {{ form_row(form.brewery) }}
            {{ form_row(form.style) }}
            {{ form_row(form.rate) }}
        </div>
        <div class="col">
            {{ form_row(form.alcohol) }}
            {{ form_row(form.colour) }}
            {{ form_row(form.bottleSize) }}
            {{ form_row(form.bottleType) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="btn btn-primary" value="Add" />

    {{ form_end(form) }}

    <div class="modal fade" id="breweryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a brewery</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(brewery_form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="breweryQuickAdd" type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}