{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <div class="float-right">
            <a href="{{ path('beer.add') }}" class="btn btn-outline-primary">
                <i class="fas fa-plus-square"></i> Add
            </a>
        </div>
        Beers
    </h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Brewery</th>
            <th>Alcohol</th>
            <th>Rating</th>
            <th>Stock</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
            {# @var beer \App\Entity\Beer #}
            <tr>
                <td>
                    <a href="{{ path('beer.view', {'beer': beer.id}) }}">
                        {{ beer.name }}
                    </a>
                </td>
                <td>
                    {% if beer.brewery %}
                    <a href="{{ path('brewery.view', { 'brewery': beer.brewery.id }) }}">
                        {{ beer.brewery.name }}
                    </a>
                    {% endif %}
                </td>
                <td>
                    {% if beer.alcohol == 0 %}
                        Alcohol free
                    {% else %}
                        {{ beer.alcohol * 100 }} %
                    {% endif %}
                </td>
                <td>{{ beer.rate }} / 5</td>
                <td>{{ beer.stock and beer.stock.quantity > 0 ? beer.stock.quantity : 'Not in stock' }}</td>
                <td>
                    <a href="" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Add a tasting">
                        <i class="fas fa-beer"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}