{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <div class="float-right">
            <a href="{{ path('beer.edit', {'beer': beer.id}) }}" class="btn btn-outline-primary">
                Edit
            </a>
        </div>
        {{ beer.name }}
    </h1>
{% endblock %}