{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit "{{ brewery.name }}"</h1>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit" class="btn btn-primary" value="Save" />
    {{ form_end(form) }}
{% endblock %}