{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <div class="float-right">
            <a href="{{ path('brewery.add') }}" class="btn btn-outline-primary">
                <i class="fas fa-plus-square"></i> Add
            </a>
        </div>
        Breweries
    </h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for brewery in breweries %}
                {# @var brewery \App\Entity\Brewery #}
                <tr>
                    <td>
                        <a href="{{ path('brewery.view', {'brewery': brewery.id}) }}">
                            {{ brewery.name }}
                        </a>
                    </td>
                    <td>{{ brewery.country|countryName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
