{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        <div class="float-right">
            <a href="{{ path('brewery.edit', {'brewery': brewery.id}) }}" class="btn btn-outline-primary">
                Edit
            </a>
        </div>
        {{ brewery.name }}
    </h1>

    <ul>
        <li>
            <strong>Country</strong> : {{ brewery.country|countryName }}
        </li>
    </ul>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Brewery</th>
            <th>Alcohol</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
            {# @var beer \App\Entity\Beer #}
            <tr>
                <td>{{ beer.name }}</td>
                <td>{{ beer.brewery.name }}</td>
                <td>{{ beer.alcohol }}</td>
                <td>{{ beer.rate }} / 5</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
