@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

$ebc_1_4:   #ffff66;
$ebc_4_8:   #ffcc00;
$ebc_8_20:  #fe9900;
$ebc_20_35: #993400;
$ebc_35_60: #660000;
$ebc_60:    #320000;

body {

  background: url("../img/wood-table.jpg");
  background-size: cover;

  .container {
    background: rgba(255,255,255,.9);
    padding: 0 20px 20px 20px;
  }

}

