{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add to stock</h1>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit" class="btn btn-primary" value="Add" />
    {{ form_end(form) }}
{% endblock %}