{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <div class="float-right">
            <a href="{{ path('cave.add') }}" class="btn btn-outline-primary">
                <i class="fas fa-plus-square"></i> Add
            </a>
        </div>
        Cave
    </h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Beer</th>
            <th>Stock</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entry in stock %}
            {# @var entry \App\Entity\Stock #}
            <tr>
                <td>
                    <a href="{{ path('beer.view', {'beer': entry.beer.id}) }}">
                        {{ entry.beer.name }}
                    </a>
                </td>
                <td>
                    {{ entry.quantity }}
                </td>
                <td>
                    <a href="{{ url('cave.add_one', {'beer': entry.beer.id}) }}" class="btn btn-outline-secondary btn-sm">+ 1</a>
                    <a href="{{ url('cave.remove_one', {'beer': entry.beer.id}) }}" class="btn btn-outline-secondary btn-sm">- 1</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}