<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url('homepage') }}">🍺 Bierkeller</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url('beer.index') }}">Beers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('brewery.index') }}">Breweries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('cave.index') }}">Cave</a>
            </li>
        </ul>
    </div>
</nav>